/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



/* 1440-px */

@media(max-width:1441px){

    .header{
        max-width: 1236px;
        width: 100%;
        position: fixed;
  
    }

    .nav-bar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

     .first-section{
        max-width: 1236px;
        width: 100%;
       padding-left: 50px;
    }
    .section2{
        max-width: 1236px;
        width: 100%;
    }

    .mshobeli-divi{
        margin-left: 50px;
        margin-right: 50px;
    }

    .section3{
        max-width: 1236px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 50px;
    }

    .section4{
        max-width: 1170px;
        width: 100%;
        margin-left: 50px;
    }

    .section5{
        max-width: 1170px;
        width: 100%;
        margin-left: 50px;
    }

    .footer{
    max-width: 1236px;
    width: 100%;
    padding-left: 65px ;
    }
    
    .div-class-header{
        margin-left: 50px;
    }

     .left-div-blocks{
        max-width: 650px;
        width: 100%;
    }  

    .div-form1{
        max-width: 600px;
        width: 100%;
    }

    .header-img{
        max-width: 460px;
        width: 100%;
    }  

}





/* 1290-px */

@media(max-width:1290px){
    .partners-block{
        max-width: 650px;
        width: 100%;
        height: 150px;
    }

    .div-partners{
        height: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .paragraph-1{
        font-size: 40px;
        font-weight: bold;
        line-height: 1.1;
    }
    .div-paragraph-2{
        max-width: 450px;
        width: 100%;
        height: 80px;
        margin-bottom: 30px;
    }
    .div-section-2{
        max-width: 1075px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .div-group19{
        left: 260px;
    }
    .div-group20{
        right: 260px;
    }
    .satauri-how{
        font-size: 30px;
    }
    .section3{
        max-width: 1100px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .div-section3-mshobeli{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .section2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .div-all-property{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: 90px;
    }
    .satauri-featured{
        font-size: 30px;
        }
    .div-business1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .loved-businesses{
        font-size: 30px;
        line-height: 1.4;
        }
    
    .div-paragraph-newsletter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }
    
    .paragraph-newsletter{
        font-size: 35px;
    }
    .div-class-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .main-div-block-section4{
        max-width: 1150px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;

    }

}




/* 1240-px */

@media(max-width:1240px){

    .input-text{
    max-width: 400px;
    width: 100%;
    }

    .div-paragraph-1{
        max-width: 400px;
         width: 100%;
    }

    .div-paragraph-2{
        max-width: 400px;
         width: 100%;
    }

    .header{
        max-width: 1075px;
        width: 100%;
    }

    .div-class-header{
        margin-left: 0;
        padding-left: 30px;
    }

    .header-img{
        max-width: 450px;
        width: 100%;
        right: 72px;
    }

    .header-img2{
        max-width: 498px;
        width: 100%;

    }
    

    .left-div-blocks{
        max-width: 500px;
        width: 100%;
    }  

     .div-form1{
        max-width: 500px;
        width: 100%;
    } 

    .header-img{
        max-width: 460px;
        width: 100%;
    } 


    .div-cardimages{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer{
        max-width: 1075px;
        width: 100%;
        padding-left:50px ;
        }
    
        .social-icons{
            right: 20px;
        }

    .section4{
            max-width: 1075px;
            width: 100%;
            margin-left: 50px;
        }
        .mshobeli-divi-section4{
            max-width: 1075px;
            width: 100%;
    
        }
    
        .main-div-block-section4{
            max-width: 1075px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; 
            -webkit-box-align: center; 
                -ms-flex-align: center; 
                    align-items: center;
            
        }
        .div-blocks-section5{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

        }

        .div-partners2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            height: 200px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

    .mshobeli-divi-section5{
            height: 1100px;

        }

    .div-contact{

            margin-left: 10px;
        
        }
    .div-partners2{
            margin-left: 0px;
        }

        .div-all-property{

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
           -webkit-box-orient: vertical;
           -webkit-box-direction: normal;
               -ms-flex-direction: column;
                   flex-direction: column;
           height: 180px;
        }

        .div-group19{
            display: none;
        }
        .div-group20{
            display: none;
        }

        .div-section-2{
            height: 400px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        .mshobeli-divi{
            margin-top: 40px;
        }

        .div1{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-bottom: 10px;
        }

     
}


 /* 1080-px */



 @media(max-width:1080px){

.left-div-blocks{
        max-width: 400px;
        width: 100%;
        margin-top: 130px;
    }  

    .input-text{
        max-width: 250px;
        width: 100%;
        }

    .form{
        max-width: 300px;
         width: 100%;
    }

    .div-form1{
            max-width: 400px;
            width: 100%;

        } 

    .div-class-header{
        max-width: 900px;
        width: 100%;
        padding-left: 20px;
        margin-left: 0px;
    }

    .header{
        max-width: 900px;
        width: 100%;
  
    }


    .section2{
        max-width: 900px;
        width: 100%;
    }

    .header-img2{
        max-width: 425px;
        width: 100%;

    }

    .header-img{
        max-width: 387px;
        width: 100%;

    }

    .social-icons{
        right: 15px;
    }
    
    .section3{
        max-width: 900px;
        width: 100%;
    }

    .mshobeli-divi{
        margin-left: 10px;
        margin-right: 5px;
    }

    .main-divi-section3{
        max-width: 750px;
        width: 100%;
    }  

    .div-all-property{
        margin-left: 0px;
    }

    .main-div-block-section4{
        max-width: 900px;
        width: 100%;
        
    }

    .mshobeli-divi-section5{
        max-width: 900px;
        width: 100%;
        
       } 

       .section5{
        max-width: 900px;
        width: 100%;
       
    }

    .div-footer-mshobeli{
        max-width: 900px;
        width: 100%;
    }

 }

    

/* 905px */

@media(max-width:905px){

    .left-div-blocks{
        max-width: 300px;
        width: 100%;
        margin-top: 130px;
    }  

    .div-form1{
        max-width: 300px;
        width: 100%;
    } 

    .paragraph-1{
        font-size: 25px;

    }

    .satauri-residential{
        font-size: 15px;
    }

    .div-forms{
        max-width: 500px;
        width: 100%;
    }

    .input-text{
        max-width: 200px;
        width: 100%;
        }

 .form{
        max-width: 250px;
         width: 100%;
    }

    
.div-class-header{
        max-width: 800px;
        width: 100%;
        padding-left: 20px;
        margin-left: 0px;
    }

    .header{
        max-width: 800px;
        width: 100%;
  
    } 
    .section1-logoebi{
        width: 60px;
    }
    .mshobeli-divi{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
    }

    .section3{
    max-width: 850px;
    width: 100%;
    margin-left: 0px;
    }

    .main-div-block-section4{
        max-width: 800px;
        width: 100%;
        
    }
    .section5{
        max-width: 800px;
        width: 100%;
       
    }

    .loved-businesses{
        font-size: 20px;
        line-height: 1.3;
        }

    .paragraph-newsletter{
            font-size: 25px;
        }

    .div-header-form{
        max-width: 600px;
        width: 100%;
    }

    .input-email{
        max-width: 200px;
        width: 100%;
        height: 50px;
    }

    .button-send{
        max-width: 100px;
        width: 100%;
        height: 50px;
    }

    .footer{
        max-width: 800px;
        width: 100%;
        padding-left:50px ;
        }

    .hooter-joxi{
            max-width: 600px;
            width: 100%;
    }

    .div-footer-copyright{
        max-width: 300px;
        width: 100%;
        height: 50px;
        padding-bottom: 5px;
        margin-top: 30px;
        
    }

    
}


/* 805px */

@media(max-width:805px){
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
    }

    .first-section{
        padding-top: 65px ;
    }

    .mshobeli-divi-section1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 1050px;
        padding-bottom: 180px;

    }
    .left-div-blocks{
        height: 400px;
        margin-top: 0px;
    }

    .header-img2{
        height: 400px;
        right: -70px;
        bottom: 0px;
    }
    .header-img{
        height: 300px;
        top: 70px;

    }
    .left-div-blocks{
        max-width: 700px;
        width: 100%;
        margin-top: 0px;

    }

   .satauri-residential{
    text-align: center;
   }
  

.div-paragraph-1{
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    } 

    .div-paragraph-2{
        max-width: 700px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        } 

    .div-forms{
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

        }


    .div-form1{
        height: 50px;
    }
    .input-text{
        height: 50px;
    }
    .button-search{
        height: 50px;
    }

    .partners-block{
        height: 100px;
        margin-top: 100px;
    }

    .social-icons{
        right: 20px;
        top:120px;
    }

    .main-div-block-section4{
        max-width: 700px;
        width: 100%;
       

    }
    .section4{
        margin-left: 10px;
    }

    .section5{
        margin-left: 10px;
    }
    
}
