/* header styles */

.header{
    max-width: 1440px;
    width: 100%;
}

.div-class-header{
    max-width: 1170px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 26.5px;
    margin-left: 135px;
    margin-right: 135px;
}
.navigation{
    display: flex;
    align-items: baseline;
}

.logo{
    height: 31px;
}

.li-list1{
    font-size: 13px;
    margin-right: 46px;
    font-family: 'DM Sans';
    font-weight: bold;
}
.li-list2{

    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 13px;
    margin-right: 46px;
}

.li-list3{
    
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 13px;
    margin-right: 46px;
}

.li-list4{
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 13px;
    margin-right: 46px;
}

.li-list5{
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 13px;
    margin-right: 46px;
}

.li-list6{
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 13px;
}


/* section #1 */

.first-section{
    display: flex;
    max-width: 1440px;
    width: 100%;
}


.left-div-blocks{
    max-width: 768.6px;
    width: 100%;
    margin-top: 157px;
    margin-left: 135px;
}   

.div-block-1{
    max-width: 768.6px;
    width: 100%;
}

.satauri-residential{
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 22px;
    color: #FF9900;
    margin-bottom: 24px;
}

.div-paragraph-1{
    max-width: 484px;
    width: 100%;
    height: 146px;
}
.paragraph-1{
    font-size: 54px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 23px;
}

.div-paragraph-2{
    max-width: 500px;
    width: 100%;
    height: 46px;
    margin-bottom: 48px;
}

.paragraph-2{
    font-size: 17px;
    font-family: 'Manrope';
    font-weight: normal;
     
}

/* forms style */

.div-forms{
    width: 756px;
    display: flex;
}

.div-form1{
    max-width: 568px;
    width: 100%;
    max-height:86px;
    height: 100%;
    /* display: flex; */

}

.input-text{
    max-width: 756px;
    width: 100%;
    height:86px;
    border: none;
    padding-left: 20px;
}

.input-text:focus{
    outline: none;
}

.form{
    max-width: 568px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* position: absolute; */
}

.div-form2{
    max-width: 188px;
    width: 100%;
    display: flex;
    
}

.button-search{
    max-width: 188px;
    width: 100%;
    height: 86px;
    color: #FFFFFF;
    background-color: #F85A47;
    border: none;
    
}


.partners-block{
    max-width: 769px;
    width: 100%;
    height: 77px;
    margin-top: 145px;
}
.paragraph-our-amazing{
    font-size: 17px;
    font-family: 'Manrope';
    font-weight: normal;

}

.div-partners{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}


.div-microsoft-svg{
    display: flex;
    align-items: center;
}
.microsoft-svg{
    margin-left: 5px;
}

/* backgroun-img styles */

.header-img{
    
    background-image: url(../images/HeaderImage.svg);
    height: 573px;
    max-width: 603px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 135px;
    top: 117px;
    /* left:15px;
    top: 118px;
    right: 20px;
    bottom: 20px; */
    color: #FFFFFF;
}


/* #section2 */

.section2{
    max-width: 1440px;
    width: 100%;
}

.mshobeli-divi{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 223px;
    margin-left: 170px;
}


 .div-section2{
    display: flex;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
 }


.div1{
    max-width:262px;
    width: 100%;
    margin-bottom: 70px;
}

.paragraph-how{
    font-size: 40px;
    font-family: 'Manrope';
    font-weight: 600;
}

.div-section-2{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2{
    max-width:260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.search-box-icon{
    max-width: 90px;
    width: 100%;
    height: 90px;
    background-color: #9672FF;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.fa-magnifying-glass{
    font-size: 30px;
    color: #FFFFFF;
}



.paragraph-research{
    font-size: 22px;
    font-family: 'Manrope';
    font-weight: 600;
    margin-bottom: 10px;
}

.div-paragraph-wonder{
    display: flex;
    text-align: center;
}

.paragraph-wonder{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 1.6;
}

.div3{
    max-width:260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hands-icon{
    max-width: 90px;
    width: 100%;
    height: 90px;
    background-color: #4DDFFD;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.fa-hand-holding-medical{
    font-size: 30px;
    color: #FFFFFF;
}

.paragraph-valuation{
    font-size: 22px;
    font-family: 'Manrope';
    font-weight: 600;
    margin-bottom: 15px;
}

.div-paragraph-Conveying{
    display: flex;
    text-align: center;
}

.paragraph-conveying{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 1.6;
}

.div4{
    max-width:260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hands-icon{
    max-width: 90px;
    width: 100%;
    height: 90px;
    background-color:#F2B8EC;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.fa-building{
    font-size: 30px;
    color: #FFFFFF;
}

.paragraph-track{
    font-size: 22px;
    font-family: 'Manrope';
    font-weight: 600;
    margin-bottom: 15px;
}

.div-paragraph-moderate{
    display: flex;
    text-align: center;
}

.paragraph-moederate{
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 1.6;
}








.footer{
    width: 1440px;
    height: 802px;
    background-color: #FBFCFC;
}

.div-footer-mshobeli{

    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 162px;
    flex-direction: column;
}

.div-footer-1{
    max-width: 431px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-paragraph-newsletter{
    max-width: 431px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 11px;
   
}

.paragraph-newsletter{
    font-size: 45px;
    font-family: 'Manrope';
    font-weight: bold;
     
}

.div-paragraph-worldwide{
    max-width: 410px;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.paragraph-worldwide{
    font-size: 23px;
    font-family: 'Manrope';
    font-weight: bold;
}

.div-header-form{
    max-width: 686px;
    width: 100%;
    display: flex;
}

.header-form{
    max-width: 686px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}


.input-email{
    max-width: 200px;
    width: 100%;
    height:124px;
    border: none;
    margin-left: 45px;
}

.input-email:focus{
    outline: none;
}

.button-send{
    max-width: 167px;
    width: 100%;
    height: 72px;
    color: #FFFFFF;
    background-color: #F85A47;
    border: none;
    margin-right: 30px;
    
}